# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Projekt PK/.vs/Projekt PK/FileContentIndex/7ef11aea-c99c-4640-ad1b-fc2db3667be3.vsidx
Projekt PK/.vs/Projekt PK/v17/Browse.VC.db
Projekt PK/.vs/Projekt PK/v17/Browse.VC.db-shm
Projekt PK/.vs/Projekt PK/v17/Browse.VC.db-wal
Projekt PK/.vs/Projekt PK/v17/Browse.VC.opendb
Projekt PK/x64/Debug/Projekt PK.pdb
Projekt PK/Projekt PK/x64/Debug/vc143.idb
Projekt PK/Projekt PK/x64/Debug/vc143.idb
Projekt PK/Projekt PK/x64/Debug/Projekt PK.tlog/link.read.1.tlog
Projekt PK/Projekt PK/x64/Debug/Projekt PK.ilk
Projekt PK/.vs/Projekt PK/FileContentIndex/1c556bac-1738-4d67-9c1a-66cf074450fb.vsidx
Projekt PK/.vs/Projekt PK/v17/.suo
Projekt PK/.vs/Projekt PK/v17/DocumentLayout.json
